<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()"> <!-- routerLink="/home" --> 
      <mat-icon>home</mat-icon> <span class="nav-caption">My bookings</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Check-in</span>   
  </a>
  <a mat-list-item (click)="onSidenavClose()"> <!-- routerLink="#"  -->
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Flight status</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()"> <!-- routerLink="#"  -->
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Support</span>
  </a>
</mat-nav-list>