<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <!--this is a place for us to add side-nav code-->
        <app-navlist (sidenavClose)="sidenav.close()"></app-navlist>
    </mat-sidenav>
    <mat-sidenav-content>
        <!--in here all the content must reside. We will add a navigation header as well-->
        <app-headersection (sidenavToggle)="sidenav.toggle()"></app-headersection>
        <div class="typing-box mainTop50">
            <h1 class="typing-text mainTitle">RAPID SALE for everyone! Hurry Up!</h1>
            <div class="fly"></div>
        </div>
        <router-outlet></router-outlet>
        <app-infocontainers></app-infocontainers>

        <mat-spinner class="loader1" *ngIf="false"></mat-spinner>
        <footer>&#169; Copyright 2019, All Rights Reserved</footer>
    </mat-sidenav-content>
</mat-sidenav-container>